/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-Aug-2014, 21:49:50
    Author     : crunch
*/

svg {
    display: block;
    width: 100%;
    font: 10px sans-serif;
    margin: 0 auto;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.circle {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}